---
import IconArrowUpRight from "~icons/tabler/arrow-up-right";
---

<section class="border-y flex border-border-dark relative" id="acara">
  <div class="inner border-x border-border-dark relative flex flex-col gap-6">
    <div class="absolute inset-0">
      <svg width="100%" height="100%" aria-hidden="true"
        ><defs
          ><pattern
            viewBox="0 0 10 10"
            width="10"
            height="10"
            patternUnits="userSpaceOnUse"
            id="_r12R_6_"
            ><circle
              cx="5"
              cy="5"
              r="1"
              fill="currentColor"
              class="fill-zinc-500/50"></circle></pattern
          ></defs
        ><rect width="100%" height="100%" fill="url(#_r12R_6_)"></rect></svg
      >
    </div>
    <div class="md:pl-12 pl-6 md:pt-12 pt-6 relative">
      <div class="flex items-center justify-between">
        <h2
          class="text-xl whitespace-nowrap font-medium border bg-background border-border-dark px-4 py-2"
        >
          Jadwal Kegiatan
        </h2>
        <div class="h-px w-full bg-zinc-800"></div>
      </div>
    </div>
    <div
      class="border-x border-t border-border-dark p-8 flex flex-col relative md:mx-12 mx-6 bg-background"
    >
      <h3 class="text-2xl font-medium text-foreground-heading">
        Saat ini belum ada kegiatan
      </h3>
      <p class="mt-2 mb-6 text-lg text-foreground-body">
        Kami sedang menyiapkan agenda berikutnya. Gabung komunitas untuk
        mendapat update jadwal terbaru.
      </p>
      <a
        href="https://discord.gg/VjUnPtZ8DP"
        target="_blank"
        rel="noopener noreferrer"
        class="h-12 hover:bg-laravel border border-laravel text-laravel transition-all hover:text-white text-left text-lg pl-6 pr-4 inline-flex items-center justify-between"
      >
        Gabung Komunitas
        <IconArrowUpRight />
      </a>
    </div>
  </div>
</section>
