---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo.svg";
---

<Layout>
  <div>
    <div
      class="min-h-[80dvh] flex justify-center p-20"
      style="background: linear-gradient(to bottom, var(--color-laravel), var(--color-laravel)), url(https://grainy-gradients.vercel.app/noise.svg);"
    >
      <h1 class="text-7xl text-white text-center">
        Laravel Indonesia Discord Community
      </h1>
    </div>
  </div>
</Layout>
